<!DOCTYPE html>
<html>
  <head>
    <title>Tikr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica&display=swap" rel="stylesheet">
  

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script
      src="https://kit.fontawesome.com/c147d9240a.js" crossorigin="anonymous">
      type="text/javascript"> window.login_page_image = "<%= image_url('login_page_image.png') %>";
      type="text/javascript"> window.splash_page_phones = "<%= image_url('splash_page_phones.png') %>";
      type="text/javascript"> window.jetpack_pug = "<%= image_url('jetpack_pug.png') %>";
      type="text/javascript"> window.two_phones_2 = "<%= image_url('two_phones_2.png') %>";
      type="text/javascript"> window.stocks = "<%= image_url('stocks.svg') %>";
      type="text/javascript"> window.options = "<%= image_url('options.svg') %>";
      type="text/javascript"> window.etfs = "<%= image_url('etfs.png') %>";
      type="text/javascript"> window.crypto = "<%= image_url('crypto.svg') %>";
      type="text/javascript"> window.splash_white_phone = "<%= image_url('splash_white_phone.png') %>";
      type="text/javascript"> window.splash_phones = "<%= image_url('splash_phones.png') %>";
      type="text/javascript"> window.splash_black_phone = "<%= image_url('splash_black_phone.png') %>";
      type="text/javascript"> window.usa_eagle = "<%= image_url('usa_eagle.png') %>";
     </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
